body {
    margin:0;
}

header {
    background-color: black;
    padding: 0px;
    margin: 0px;
}

.navbar-main {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
   
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    display: inline-flex;
    align-items: center;
    color: aliceblue;
    font-size: 40px;
}

ul li:hover {
    color: red;
}

li  {
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
  }

.active {
    background-color: #04AA6D;
  }

div.row {
    display: block;
    justify-content: center;
    width: 100%;
}

div.row h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #05462ea6;
    display: flex;
    justify-content: center;
}

.container-img {
    display: flex;
    justify-content: center;
}


.container-img picture img {
    height: 600px;
    width: 80em;
}
  
