{% extends "base_games.html" %}
{% load static %}

{% block content %}
    <div class="conteiner">
        <div class="col">
            <h1>Palindrome</h1>
            <p>It allows us to know if a word is written the same way forward as backwards</p>
            <input type="text" class="inputtext" placeholder="palabra" pattern="[a-z]">
            <button type="button" class="button">Check</button>
            <p>The Word <strong></strong>, <span></span> a Palindrome</p>
        </div>
    </div>
{% endblock content %}