{% extends "base_games.html" %}
{% load static %}

{% block content %}
    {% csrf_token %}
    <div class="conteiner">
        {% if ct_games %}
            <form action="" method="post" style="text-align: center" enctype="multipart/form-data">{% csrf_token %}
                <div class="content">
                    <h1>Odd or Even</h1>
                    <p>It allows us to know if the number entered is even or odd.</p>
                    <input type="text" id="{{ parorimpar.num }}" class="form-control" name="{{ parorimpar.num }}" placeholder="Number">
                    <button type="submit" class="btn">Check</button>
                </div>
            </form>
        
            <form action="" method="post" style="text-align: center" enctype="multipart/form-data">{% csrf_token %}
                <div class="content">
                    <h1>Palindrome</h1>
                    <p>It allows us to know if a word is written the same way forward as backwards</p>
                    <input type="text" id="palabra" class="form-control" name="palabra" placeholder="Word">
                    <button type="submit" class="btn btn-success">Check</button>
                </div>
            </form>
        {% endif %}
    </div>
    <br> <br> <br>
    <hr>
    <a id="back" href="{% url 'gtapp:index' %}">Back to page main?</a>
{% endblock content %}

