{% extends "base_index.html" %}

{% block content %}
    <header>
        <div class="navbar-main">
            <ul>
                <li><a href=""></a>HOME</li>
                <li><a href=""></a>Imagens</li>
                <li><a href=""></a>Videos</li>
                <li><a href=""></a>Music</li>
                <li><a href=""></a>Games</li>
                <li><a href=""></a>Posts</li>
                <li><a href=""></a>Log In</li>
            </ul>
        </div>
    </header>
{% endblock content %}