{% extends "base_index.html" %}
{% load static %}

{% block content %}
    <header>
        <div class="navbar-main">
            <ul>
                <li class="active"><a href=""></a>HOME</li>
                <li><a href=""></a>Imagens</li>
                <li><a href=""></a>Videos</li>
                <li><a href=""></a>Music</li>
                <li><a href=""></a>Games</li>
                <li><a href=""></a>Posts</li>
                <li><a href=""></a>Log In</li>
            </ul>
        </div>
    </header>
    <div class="row" style="padding:30px;margin-top:30px;"> 
        {% csrf_token %}
        <h1>&#10055; Welcome to GT APP &#10055;</h1>
        <div class="container-img">
            <picture>        
                <img src="{% static 'images/paisaje1.jpg' %}" alt="Paisaje">     
            </picture>
        </div>
    </div>
{% endblock content %}